mat-form-field {
    margin-right: 12px;
  }

.text-error{
    color: red;
    font-size: 12px;
}

// .bordered {
//     border-color: inherit;
//     border-style: solid;
//     border-width: 0 1px;
//     padding: 0 0.5rem
// }

table {
    width: 100%;
}


