<br>
<div class="container-md">   
    <div class="card">
        <div class="card-header">
            Marley Vargas
        </div>
        <div class="card-body">
            <h2 class="card-title">Prueba técnica F2X</h2>

            <p>1. Consultar la documentación de la API de pruebas de conteo y recaudo http://
                190.145.81.67:5200/documentation/. Guardar todos los datos que se entregan 
                en una entidad recaudos en la base de datos que se le asigno usando un 
                esquema con su nombre</p>

            <p>2. Crear un recurso Rest que entregue la información guardada en la base de 
                datos. (cualquier tipo de seguridad es apreciada). En una vista de Angular 
                mostrar los datos brutos del recurso rest a manera de data grid con filtros.</p>
            
            <p>3. Genere un reporte de valor tabulado mensual de los datos obtenidos que se 
                pueda agrupar por estación y fecha como lo muestra la siguiente imagen. La 
                lógica de los datos se debe hacer del lado del servidor y no del cliente.</p>

            <hr>
            <h4 class="card-title">Solución:</h4>
            
            <a href="/Collections" class="btn btn-primary btn-lg" role="button">Consultar datos</a>
            <a href="/Report" class="btn btn-secondary btn-lg" role="button">Generar reporte</a>
        </div>
    </div>
</div>

